<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>
<body>

    would u like to add an item?
    <br>
    Do u want to add item to <a href="/additemtofridge">fridge</a> or to <a href="/additemtofreezer">freezer</a> 
    <br>
    <br>
    would u like to remove an item?
    <br>
    Do u want to add item to <a href="/gotofridgeshelf">fridge</a> or to <a href="/gotofreezershelf">freezer</a> 
</body>
</html>