<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Fridge</title>
</head>
<body>
    <form action = '/redirect' method='get'>
        Enter the dimention of your Freezer in cm
        <br>
        depth:
        <br>
        <input type="number" min = 0 name = "freezerdepth">
        <br>
        width:
        <br>
        <input type="number" min = 0 name = "freezerwidth">
        <br>
        height:
        <br>
        <input type="number" min = 0 name = "freezerheight">
        <br>
        Enter the number of shelves in your Freezer
        <br>
        <input type="number" min = 0 name = "freezershelfcount">
        <br>
        <br>
        <br>
        Enter the dimention of your Fridge in cm
        <br>
        depth:
        <br>
        <input type="number" min = 0 name = "fridgelength">
        <br>
        width:
        <br>
        <input type="number" min = 0 name = "fridgewidth">
        <br>
        height:
        <br>
        <input type="number" min = 0 name = "fridgeheight">
        <br>
        <br>
        Enter the number of shelves in your Fridge
        <br>
        <input type="number" min = 0 name = "fridgeshelfcount">
        <br>
        <br>
        <br>


        <button type = "submit"> Add Fridge to your account</button>
    </form>
</body>
</html>