<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Fridge</title>
</head>
<body>
    <form action = '/addfridgtoDB' method='get'>
        Enter the dimention of your refrigerator in cm
        <br>
        depth:
        <br>
        <input type="number" min = 0 name = "refdepth">
        <br>
        width:
        <br>
        <input type="number" min = 0 name = "refwidth">
        <br>
        height:
        <br>
        <input type="number" min = 0 name = "refheight">
        <br>
        <br>
        Enter the number of shelves in your fridge
        <br>
        <input type="number" min = 0 name = "fridgeshelfcount">
        <br>
        Enter the height of your Fridge in cm
        <br>
        <input type="number" min = 0 name = "fridgeheight">
        <br>
        <br>
        Enter the number of shelves in your Freezer
        <br>
        <input type="number" min = 0 name = "freezershelfcount">
        <br>
        Enter the height of your freezer in cm
        <br>
        <input type="number" min = 0 name = "freezerheight">
        <br>
        <br>
        <br>
        <button type = "submit"> add refrigerator</button>
    </form>
</body>
</html>