<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>removeitemfromfridge</title>
</head>
<body>
    Remove from which shelf of the fridge?
    <br>
    <form action = '/removeitemfromfridge'>
        <select name = "shelf">
            {% for i in fridgecounter %}
            <option value="fridgeShelf{{i}}">shelf {{i}}</option>
            {% endfor %}
        </select>
        <button type = "submit"> see items </button>
        
    </form>
</body>
</html>