<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>remove item</title>
</head>
<body>
    <form action = '/removeitem'>
        <select name = "item">
            {% for i in name %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <button type = "submit"> remove item </button>
        
    </form>
</body>
</html>